/*---------------------------------------------------------------------SECTION - HEBERGEMENT---------------------------------------------------------*/

#hebergements {   /*tout le bloc (hebergement Marseille + Populaires)*/
     display: flex;
     justify-content: space-between;  
}   

#hebergements a {
    text-decoration: none;
    color: black;
}
/*--------------------bloc de gauche - hebergement Marseille-------------------------*/


.hebergements_marseille {  /*bloc de gauche*/
    display: flex;
    justify-content: space-between;   /*Possible de mettre en flex start, ca dépend où tu veux le blanc (droite ou entre les images) - le top c'est around mais 
                                        tu perds alignement avec "hebergement" ---> voir avec client*/
    flex-wrap: wrap;

    background: #F2F2F2;
    padding: 15px 50px 15px 50px;   /*marge des contours du bloc*/
    margin-top : 30px;       /*espace entre info et bloc*/
    margin-right: 10px;      /*espace min entre les blocs "hebergement marseille" et "les plus pop"*/
    
    width: 60%;
    border-radius: 15px / 15px;
}

.hebergements_marseille_bloc {   /*Bloc enfant*/
    background: white;
    position: relative;
    max-width: 300px;  /*lié à image*/

    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 10px;   /*espace avant de wrap*/
    
    padding: 7px;       /*espace entre image et bloc*/
    	
    border-radius: 15px / 15px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.15) ;
    
    -webkit-transition: all 0.3s;
}

.hebergements_marseille_bloc:hover {
    box-shadow: 0px 5px 10px #0065fc65;
    transform:scale(1.04);
}

.hebergements_marseille_img {
    width: 300px;                  /*defini une taille pour l'object fit*/
    height: 150px;
    object-fit: cover;	           /*prend qu'une partie de l'image (zoom)*/
    object-position: left;         /*cadre sur la partie gauche*/

    border-top-left-radius: 15px 15px;  /*bordure demi-cercle*/
    border-top-right-radius: 15px 15px;
}

.top {  /*le texte "hebergement Marseille*/
    width: 100%;
    font-size: 1.4em;
}

.bottom {    /*Le texte "afficher plus"*/
    width: 100%;
    font-size: 1.2em;
    font-weight: bold;
}

.ligne_titre {             /*ajustement des polices*/
    font-size: 1.2em;
}

.ligne_prix{
    font-size: 0.9em;
}

.hebergements_marseille_bloc p {
    line-height: 10px;
	
    padding-left: 10px;  /*texte et étoiles*/
	margin-bottom: 7px;  /*espace sous les étoiles ! */
}

/*-----------------------------------Bloc droite - Hebergements pop------------------------*/

.hebergements_pop {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;  /*placement de l'icone en haut*/
    margin-top: 30px; /*pck elle est aussi sur bloc hebergement - si tu mets pas t'es plus aligné*/

    width: 25%;
    min-width: 320px;     

    background: #F2F2F2;
    border-radius: 15px / 15px;
    padding: 15px 50px 15px 50px;                      /*coutour inte, si tu modifies, touche aussi le bloc hebergement*/
}

.hebergements_pop i {          /*espace pour icon en face de "les plus pop" mais ca sert aussi à mettre les étoiles en bas*/
	margin-top: 18px;       /*size géré dans le code html pour pas géner les étoiles*/	
}

.hebergements_pop_bloc img{
    width: 150px;
    height: 150px;
    object-fit: cover;

    margin-right: 30px;     /*espace avec texte*/
    float: left;

    border-bottom-left-radius: 15px 15px;
    border-top-left-radius: 15px 15px;
 }

 .hebergements_pop_bloc{
    padding: 5px;                            /*marge fine autour du bloc*/
    margin: 0;                          /*aligne bloc avec titre "les plus pop"*/
    width: 100%;

    max-height: 150px;        /*même que image*/
    min-width: 350px;

    background: white;
    border-radius: 15px / 15px;

    position: relative; /*pour étoiles*/
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.15) ;  

    -webkit-transition: all 0.3s; /*pour fluidifier le zoom*/

}

.hebergements_pop_bloc:hover {
    box-shadow: 0px 5px 10px #0065fc65;

    transform:scale(1.04);
}

.etoiles_pop {
   position: absolute;   /*position étoiles*/
   bottom: 5px;
   left: 185px;  
    
}

.ligne_titre_pop {       
    font-size: 1.2em;
}

.ligne_prix_pop {
    font-size: 0.9em;
}

.hebergements_pop_bloc p {
    margin-top: 9px;  /*marge texte et bloc*/
    margin-bottom: 13px;  /*ajustement espace entre les lignes de texte*/
    padding-right: 30px;   /*marge doite du texte - permet le retour à la ligne*/
}



/*--------------------------------------------------RESPONSIVE - SECTION HEBERgEmENTs------------------------------------------------*/


@media screen and (max-width: 1282px) {    /*quand mis en petit sur pc ou tablette*/
    
    .corps_site {
        width: 100%;
    }

    #hebergements {                               /*mise en colonne des blocs : populaire first*/
        flex-direction: column-reverse; 
    }

    .hebergements_marseille {
        margin-right: 0;   /*pour que bloc pop et bloc marseille aient la même taille*/
        width: auto;
    }

    .hebergements_pop {
        width: auto;
    }
    
    .hebergements_pop_bloc {   
        width: 40%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}



@media screen and (max-device-width:480px) {     /*sur un tel*/
    
     /*------- bloc - populaires-------*/

    .icone_titre {

        padding-top: 35px;     /*pour aligner avec le titre*/
    }
    
    .titre_pop {
        
        margin-bottom: 50px;           /*marge du titre*/
        margin-top: 50px;
    }

    .hebergements_pop {
        padding-left: 80px;    /*marge sur les cotés*/
        padding-right: 80px;
        font-size: 1.9em;
    }

    .hebergements_pop_bloc {
        width: 100%;
        max-height: 300px;  /*même que image*/
        padding: 10px;      /*contour*/
        margin-bottom: 30px; /*espace entre les blocs*/

        border-radius: 40px / 40px;
        font-size: 1.1em;
    }

    .etoiles_pop {
        
        bottom: 10px;       /*utilise bien left et bottom comme dans la version pc, sinon conflit*/
        left: 360px; 
    }

    .hebergements_pop_bloc img {
        width: 300px;
        height: 300px;

        margin-right: 50px; /*marge avec texte*/

        border-bottom-left-radius: 40px 40px;
        border-top-left-radius: 40px 40px;
    }

    .hebergements_pop_bloc p {
        padding-right: 50px;   /*marge doite du texte - permet le retour à la ligne*/
    }



    /*------------------- bloc Marseille----------------*/
    
    .hebergements_marseille {
        font-size: 1.9em;
        background: white;

        padding-left: 80px;    /*marge sur les cotés*/
        padding-right: 80px;
    }

    .hebergements_marseille_bloc {
        width: 100%;
        max-width: none;
        border-radius: 40px / 40px;
        padding-bottom: 75px;
        
    }

    .bottom{     /*afficher plus*/
        margin-top: 30px;
    }


    .hebergements_marseille_img {
        width: 100%;
        height: 270px;

        border-top-left-radius: 40px 40px;
        border-top-right-radius: 40px 40px;
    }

    .hebergements_marseille_bloc p {
        line-height: 17px;      /*espace entre les ligne de texte (étoiles comprisent)*/ 
        padding-left: 30px;     /*espace entre texte et bord du bloc*/
    } 

    .notation_etoile {
        font-size: 33px;              /*pour résoudre bug étoiles quand on change la police*/
        position: absolute;  
        bottom: 12px;
    }

    
}

/*------------------------------------------------- SECTION ACTIVITES --------------------------------------------*/
.activites {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    margin: 50px 0;
}

.activites a {
    font-weight: bold;
    text-decoration: none;
    color: black;
    font-size: 1.1em;

    -webkit-transition: all 0.3s;
}

.activites a:hover {
    box-shadow: 0px 5px 10px #0065fc65;
    transform:scale(1.04);
}

.activites h2 {
    width: 100%;
}


.activites_colonne {    /*bloc de petites images*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;  
}


.modele1 {
    display: flex;
    flex-direction: column;

    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.15) ;  
    border-radius: 15px / 15px;

    margin-bottom: 30px;  /*pour le wrap*/
}

.modele1 img {
    width: 370px;
    height: 470px;
    object-fit: cover;	           /*prend qu'une partie de l'image (zoom)*/
    object-position: center;         /*cadre sur la partie central*/

    border-top-left-radius: 15px 15px;  /*bordure demi-cercle*/
    border-top-right-radius: 15px 15px;
}

.modele1 p {
    margin-left: 15px;
}


.modele2 {
    display: flex;
    flex-direction: column;
    
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.15) ;  
    border-radius: 15px / 15px;

    margin-bottom: 30px;  /*pour le wrap*/
}

.modele2 img {
    width: 370px;
    height: 220px;
    object-fit: cover;	           /*prend qu'une partie de l'image (zoom)*/
    object-position: center;         /*cadre sur la partie central*/

    border-top-left-radius: 15px 15px;  /*bordure demi-cercle*/
    border-top-right-radius: 15px 15px;
}

.modele2 p {
    margin-left: 15px;
}


.modele3 {
    display: flex;
    flex-direction: column;
    
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.15) ;  
    border-radius: 15px / 15px;

    margin-bottom: 30px;  /*pour le wrap*/
}

.modele3 img {
    width: 370px;
    height: 180px;
    object-fit: cover;	           /*prend qu'une partie de l'image (zoom)*/
    object-position: center;         /*cadre sur la partie central*/

    border-top-left-radius: 15px 15px;  /*bordure demi-cercle*/
    border-top-right-radius: 15px 15px;
}

.modele3 p {
    margin-left: 15px;
}


.modele4 {
    display: flex;
    flex-direction: column;
  
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.15) ;  
    border-radius: 15px / 15px;

    margin-bottom: 30px;  /*pour le wrap*/
}

.modele4 img {
    width: 370px;
    height: 140px;
    object-fit: cover;	           /*prend qu'une partie de l'image (zoom)*/
    object-position: 50% 20%;         /*cadre sur la partie central*/

    border-top-left-radius: 15px 15px;  /*bordure demi-cercle*/
    border-top-right-radius: 15px 15px;
}

.modele4 p {
    margin-left: 15px;
}


/*------------------------------------------------RESPONSIVE ---- SECTION ACTIVITES----------------------*/

@media screen and (max-device-width:480px) {
    .activites {
        flex-direction: column;
        padding: 0 80px;
        font-size: 1.9em;
    }

    .activites p {
        padding: 10px 30px;
    }

    .modele4 img, .modele3 img, .modele2 img, .modele1 img {
        width: 100%;
        height: 310px;

        border-top-left-radius: 40px 40px;
        border-top-right-radius: 40px 40px;

    }

    .modele1, .modele2, .modele3, .modele4 {
        border-radius: 40px / 40px;
        margin: 20px 0;
    }


}