body{
    width: 90%;
	margin: auto;
	padding: 30px;

	font-family: 'Raleway', sans-serif;
}



/*--------------------HEADER---------------------------*/
header{
	display: flex;
	flex-wrap: wrap;  /*retour à la ligne*/
	justify-content: space-between;

	align-items: center;  /*aligne en hauteur logo et menu*/
}

.logo_reservia        {
	width: 140px;
	height: auto;
}

header h1{
    width: 100%;            /*force retour à la ligne*/
    font-size: 1.8em;
    margin-bottom: 0;       /*reduit l'espace entre titre et sous titre*/
}

header p{
    font-size: 1.2em;
    color: #505050;
}

header nav{
    display: flex;
}

header a{
    font-size: 1.3em;
    text-decoration: none;
    color: #505050;
}

.menu1{             
	padding-right: 30px;           /*marge entre les menu*/
    
}

.menu1 a:hover {                         /*bordure bleu*/
    border-top: 2px solid #0065fc;
	color: #0065fc;
}
 
.menu1 a{                            /*met la bordure bleu en haut*/
    padding-top: 47px;
}

.menu2{
	margin-right: 50px;          /*evite de coller le menu*/
}

.menu2 a{
    font-weight: bold;
    color: #0065fc;
}


/*-------------------------RESPONSIVE----- HEADER-------------------------*/

@media screen and (max-device-width:480px){   /*on cible mieux les tel et evite que ça utilise cette config pour les tablettes*/
     
    body{                          /*Plein écran*/
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        padding-right: 0;
        padding-left: 0;
    }

    .logo_reservia{
        
        width: 230px;
        margin-left: 50px;
    }

    nav{
        width: 100%;
        font-size: 1.7em;
    
    }

    .menu1{
        width: 50%;
        text-align: center;
        padding-bottom: 30px; /*marge pour la bordure bleu*/
        padding-top: 60px;     /*marge entre logo et menu*/

        border-bottom: 6px solid #F2F2F2;
        
    }

    .menu1 a:hover{
        border: none;
    }

    .menu1:hover{
        border-bottom: 6px #0065fc solid;
    }


    .menu2{                         /*sort le menu du bloc nav pour le mettre en haut à droite*/
        position: absolute;
        top: 80px;
    	right:40px;
    }

    header h1{
        font-size: 2.7em;
        margin-top: 60px;     /*espace sous la bordure bleu*/
        margin-left: 50px;    /*même que logo si tu veux les aligner*/
    }

    header p{
        font-size: 2em;
        color: black;
        margin-left: 50px;     /*même que h1 su tu veux aligner*/
    }




}