/*---------------------------------------------------------------------SECTION - HEBERGEMENT---------------------------------------------------------*/

#hebergements {   /*tout le bloc (hebergement Marseille + Populaires)*/
     display: flex;
     justify-content: space-between;  
}   

#hebergements a {
    text-decoration: none;
    color: black;
}

#hebergements h2 {
    font-size: 1.3em;
}

.color_blue { 
    color: #0065fc;
}

.color_grey {
    color: #e4e4e4;
}
/*--------------------bloc de gauche - hebergement Marseille-------------------------*/


.hebergements_marseille {  /*bloc de gauche*/
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    flex-wrap: wrap;

    background: #F2F2F2;
    padding: 20px 30px 0px 40px;    /*marge des contours du bloc - tu enlève 10 à droite à cause du margin right du bloc*/
    margin-top : 30px;       /*espace entre info et bloc*/
    margin-right: 10px;      /*espace min entre les blocs "hebergement marseille" et "les plus pop"*/
    
    width: 60%;
    min-width: 820px;
    border-radius: 20px / 20px;
}

.hebergements_marseille_bloc {   /*Bloc enfant*/
    background: white;
    position: relative;
    max-width: 250px;  /*lié à image*/

    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 10px;   /*espace avant de wrap*/
    
    padding: 5px;       /*espace entre image et bloc*/
    padding-bottom: 10px;
    	
    border-radius: 20px / 20px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.15) ;
    
    -webkit-transition: all 0.3s;
}

.hebergements_marseille_bloc:hover {
    box-shadow: 0px 5px 10px #0065fc65;
    transform:scale(1.04);
}

.hebergements_marseille_img {
    width: 250px;                  /*defini une taille pour l'object fit*/
    height: 120px;
    object-fit: cover;	           /*prend qu'une partie de l'image (zoom)*/
    object-position: left;         /*cadre sur la partie gauche*/

    border-top-left-radius: 20px 20px;  /*bordure demi-cercle*/
    border-top-right-radius: 20px 20px;
}

.top {  /*le texte "hebergement Marseille*/
    width: 90%;
    margin-bottom: 5px;
}

.bottom {    /*Le texte "afficher plus"*/
    width: 100%;
    font-weight: bold;
    margin-top: 10px;
}

.ligne_titre {             /*ajustement des polices*/
    font-size: 1em;
    margin-top: 10px;   /*rapprocher de le l'image*/
}

.ligne_prix{
    font-size: 0.9em;
}

.notation_etoile {
    font-size: 0.9em;
}

.hebergements_marseille_bloc p {
    line-height: 8px;
	
    padding-left: 10px;  /*texte et étoiles*/
	margin-bottom: 0px;  /*espace sous les étoiles ! */
}

/*-----------------------------------Bloc droite - Hebergements pop------------------------*/
.titre_pop {
    display: flex;
    justify-content: space-between;
    align-items : baseline;
    margin-bottom: 10px;
}

.hebergements_pop {
    display: flex;
    
    margin-top: 30px; /*pck elle est aussi sur bloc hebergement - si tu mets pas t'es plus aligné*/
    flex-direction: column;

    width: 25%;
    min-width: 330px;     

    background: #F2F2F2;
    border-radius: 20px / 20px;
    padding: 20px 40px 0px 40px;                      /*coutour inte, si tu modifies, touche aussi le bloc hebergement*/
}



.hebergements_pop_bloc img{
    width: 130px;
    height: 140px;
    object-fit: cover;

    margin-right: 30px;     /*espace avec texte*/
    float: left;

    border-bottom-left-radius: 20px 20px;
    border-top-left-radius: 20px 20px;
 }

 .hebergements_pop_bloc{
    padding: 5px;                            /*marge fine autour du bloc*/
    margin-bottom: 40px;                          /*aligne bloc avec titre "les plus pop"*/

    max-height: 140px;        /*même que image*/

    background: white;
    border-radius: 20px / 20px;

    position: relative; /*pour étoiles*/
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.15) ;  

    -webkit-transition: all 0.3s; /*pour fluidifier le zoom*/

}

.hebergements_pop_bloc:hover {
    box-shadow: 0px 5px 10px #0065fc65;

    transform:scale(1.04);
}

.etoiles_pop {
   font-size: 0.9em;
   position: absolute;   /*position étoiles*/
   bottom: 0;
   left: 165px;  
    
}

.icone_titre {
    font-size: 1.4em;
}

.hebergements_pop_bloc p {
    margin-top: 9px;  /*marge texte et bloc*/
    margin-bottom: 13px;  /*ajustement espace entre les lignes de texte*/
    padding-right: 15px;   /*marge doite du texte - permet le retour à la ligne*/
}



/*--------------------------------------------------RESPONSIVE - SECTION HEBERgEmENTs------------------------------------------------*/

@media screen and (max-width: 1750px) {    /*petits écrans*/
    
    .corps_site {
        width: 85%;
    }
    .hebergements_marseille {           
        max-width: 950px;     /*pour éviter qu'il soit trop grand*/
    }
}

@media screen and (max-width: 1500px) {

    .corps_site {
        width: 95%;
    }
}

@media screen and (max-width: 1400px) {
    
    .hebergements_marseille {
        padding: 10px 10px 0px 20px;
    }

    .hebergements_pop {
        padding: 10px 20px 0px 20px;
        min-width: 290px;
    }

    .hebergements_pop_bloc p {
        padding-right: 5px;
    }

    .hebergements_pop_bloc img {
        margin-right: 15px;
    }

    .etoiles_pop {
        left: 150px;   /*pck tu as réduit la marge entre image et texte*/
    }
}

@media screen and (max-width: 1220px) {    /*tablette*/
   
    .corps_site {         /*on remet la marge normal*/
        width: 95%;
    }
    
    .titre_pop {
        padding-left: 30px ;  /*position du début du titre*/
        width: 93%;            /*position de la fin*/
    }

    .top {
        padding-left: 10px; /*additionne les padding pour aligner les titres*/
    }

    .bottom {
        padding-left: 10px; /*additionne les padding pour aligner les titres*/
    }

    #hebergements {                               /*mise en colonne des blocs : populaire first*/
        flex-direction: column-reverse; 
    }

    .hebergements_marseille {
        justify-content: space-between;
        margin-right: 0;   /*pour que bloc pop et bloc marseille aient la même taille*/
        width: auto;
        max-width: none;
        min-width: 0;

        padding: 20px 30px 0px 40px;       /*on remet la marge normal */
    }

    .hebergements_marseille_bloc {
        min-width: 180px;
    }

    .hebergements_pop {
        width: auto;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 20px 20px 20px 20px;                 /*on remet la marge normal*/
    }
    
    .hebergements_pop_bloc {   
        width: 31%;
        min-width: 265px;
        margin-bottom: 10px;
    } 
}

@media screen and (max-width: 1000px) {
    .hebergements_pop_bloc {   
        width: 350px;
        margin-bottom: 10px;
    }

    .hebergements_pop {
        justify-content: space-around;
    }

    .hebergements_marseille {
        justify-content: space-around;
        padding: 20px;        /*comme le bloc pop*/
    }

    .top, .bottom {       /*comme le titre pop*/
        width: 93%;
        padding-left: 30px;
    }

}

@media screen and (max-device-width:720px) {     /*sur un tel*/
    
    .corps_site {
        width: 100%;
    }

     /*------- bloc - populaires-------*/

    .titre_pop {
        width: 100%;
        margin-top: 50px;
        padding: 0;

        font-size: 1.2em;
    }

    .ligne_titre_tel {      /*hebergement pop : nom de l'hotel*/
        font-size: 1.15em;
    }

    .hebergements_pop {
        padding-left: 80px;    /*marge sur les cotés*/
        padding-right: 80px;
        font-size: 2em;
    }

    .hebergements_pop_bloc {
        width: 100%;
        max-height: 300px;  /*même que image*/
        padding: 10px;      /*contour*/
        margin-bottom: 30px; /*espace entre les blocs*/

        border-radius: 40px / 40px;
        font-size: 1.1em;
    }

    .etoiles_pop {
        
        bottom: 10px;       /*utilise bien left et bottom comme dans la version pc, sinon conflit*/
        left: 360px; 
    }

    .hebergements_pop_bloc img {
        width: 300px;
        height: 300px;

        margin-right: 50px; /*marge avec texte*/

        border-bottom-left-radius: 40px 40px;
        border-top-left-radius: 40px 40px;
    }

    .hebergements_pop_bloc p {
        padding-right: 50px;   /*marge doite du texte - permet le retour à la ligne*/
    }



    /*------------------- bloc Marseille----------------*/
    
    .hebergements_marseille {
        font-size: 2em;
        background: white;

        padding-left: 80px;    /*marge sur les cotés*/
        padding-right: 80px;
    }

    .hebergements_marseille_bloc {
        font-size: 0.8em;
        
        width: 100%;
        max-width: none;
        
        border-radius: 40px / 40px;
        padding-bottom: 75px;   
    }

    .ligne_prix_tel {
        font-size: 0.65em;
    }

    .bottom{     /*afficher plus*/
        margin-top: 30px;
        font-size: 0.8em;
    }

    .top {
        padding :0;
        width: 100%;

        margin-bottom: 40px;
    }

    .hebergements_marseille_img {
        width: 100%;
        height: 270px;

        border-top-left-radius: 40px 40px;
        border-top-right-radius: 40px 40px;
    }

    .hebergements_marseille_bloc p {
        line-height: 28px;      /*espace entre les ligne de texte (étoiles comprisent)*/ 
        padding-left: 30px;     /*espace entre texte et bord du bloc*/
    } 

    .notation_etoile {
        font-size: 33px;              /*pour résoudre bug étoiles quand on change la police*/
        position: absolute;  
        bottom: 12px;
    }

    
}

/*------------------------------------------------- SECTION ACTIVITES --------------------------------------------*/
.activites {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    margin: 50px 0;
}

.activites a {
    font-weight: bold;
    text-decoration: none;
    color: black;
    

    -webkit-transition: all 0.3s;
}

.activites a:hover {
    box-shadow: 0px 5px 10px #0065fc65;
    transform:scale(1.04);
}

.activites h2 {
    font-size: 1.4em;
    width: 100%;
}


.activites_colonne {    /*bloc de petites images*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;  
    margin: 0 5px;
}


.modele1 {
    display: flex;
    flex-direction: column;

    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.15) ;  
    border-radius: 15px / 15px;

    margin-bottom: 30px;  /*pour le wrap*/
}

.modele1 img {
    width: 310px;
    height: 420px;
    object-fit: cover;	           /*prend qu'une partie de l'image (zoom)*/
    object-position: center;         /*cadre sur la partie central*/

    border-top-left-radius: 15px 15px;  /*bordure demi-cercle*/
    border-top-right-radius: 15px 15px;
}

.modele1 p {
    margin-left: 15px;
}

.modele2 {
    display: flex;
    flex-direction: column;
    
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.15) ;  
    border-radius: 15px / 15px;

    margin-bottom: 30px;  /*pour le wrap*/
}

.modele2 img {
    width: 310px;
    height: 200px;
    object-fit: cover;	           /*prend qu'une partie de l'image (zoom)*/
    object-position: center;         /*cadre sur la partie central*/

    border-top-left-radius: 15px 15px;  /*bordure demi-cercle*/
    border-top-right-radius: 15px 15px;
}

.modele2 p {
    margin-left: 15px;
}

.modele3 {
    display: flex;
    flex-direction: column;
    
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.15) ;  
    border-radius: 15px / 15px;

    margin-bottom: 30px;  /*pour le wrap*/
}

.modele3 img {
    width: 310px;
    height: 150px;
    object-fit: cover;	           /*prend qu'une partie de l'image (zoom)*/
    object-position: center;         /*cadre sur la partie central*/

    border-top-left-radius: 15px 15px;  /*bordure demi-cercle*/
    border-top-right-radius: 15px 15px;
}

.modele3 p {
    margin-left: 15px;
}

.modele4 {
    display: flex;
    flex-direction: column;
  
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.15) ;  
    border-radius: 15px / 15px;

    margin-bottom: 30px;  /*pour le wrap*/
}

.modele4 img {
    width: 310px;
    height: 120px;
    object-fit: cover;	           /*prend qu'une partie de l'image (zoom)*/
    object-position: 50% 20%;         /*cadre sur la partie central*/

    border-top-left-radius: 15px 15px;  /*bordure demi-cercle*/
    border-top-right-radius: 15px 15px;
}

.modele4 p {
    margin-left: 15px;
}


/*------------------------------------------------RESPONSIVE ---- SECTION ACTIVITES----------------------*/
@media screen and (max-width: 1350px) {
    .activites {
        justify-content: space-around;
    }
}


@media screen and (max-device-width:720px) {
    .activites {
        flex-direction: column;
        padding: 0 80px;
        font-size: 2.1em;
    }

    .activites p {
        padding: 10px 30px;
    }

    .modele4 img, .modele3 img, .modele2 img, .modele1 img {
        width: auto;
        height: 310px;

        border-top-left-radius: 40px 40px;
        border-top-right-radius: 40px 40px;
    }

    .modele1, .modele2, .modele3, .modele4 {
        border-radius: 40px / 40px;
        margin: 20px 0;
    }


}